---
import ScrollSection from '../layouts/ScrollSection.astro';
import BaseHead from '../sections/BaseHead.astro';
import HomeSection from '../sections/HomeSection.astro';
import StoreSection from '../sections/StoreSection.astro';
---

<html lang="en">
    <BaseHead />
    <body>
        <div id="main" class="scroll-container">
            <ScrollSection>
                <HomeSection />
            </ScrollSection>
            <ScrollSection>
                <StoreSection />
            </ScrollSection>
        </div>

        <script is:inline src="/full-page-scroll.js"></script>
        <script>
            declare var fullScroll: any;
            new fullScroll({
                mainElement: 'main',
                animateTime: 0.7,
                animateFunction: 'ease',
                currentPosition: 0,
                displayDots: false,
            });
        </script>
    </body><style>
        /* Import Titillium Web font */
        @font-face {
            font-family: 'Titillium Web';
            src: url('/fonts/TitilliumWeb-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Titillium Web';
            src: url('/fonts/TitilliumWeb-Bold.ttf') format('truetype');
            font-weight: bold;
            font-style: normal;
        }
    </style>
</html>
