<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="stylesheet" href="/full-page-scroll.css" />
    <link
        rel="preload"
        href="/fonts/TitilliumWeb-Bold.ttf"
        as="font"
        type="font/ttf"
        crossorigin
    />
    <link
        rel="preload"
        href="/fonts/TitilliumWeb-Regular.ttf"
        as="font"
        type="font/ttf"
        crossorigin
    />

    <title>Alt Minima | Minimal Elegant Design</title>
    <meta name="description" content="Minimal Elegance in graphic design and print." />

    <meta property="og:title" content="Alt Minima | Minimal Elegant Design" />
    <meta property="og:type" content="website" />
    <meta
        property="og:description"
        content="Minimal Elegance in graphic design and print."
    />
    <meta property="og:site_name" content="Minimal Elegant Design" />
</head>
