<div class="w-full h-full flex flex-col items-center justify-between">
    <nav class="w-full flex justify-center py-8 bg-th-bg">
        <img class="w-40 md:w-52" src="/AltMinimaLogo.svg" alt="Alt Minima logo" />
    </nav>
    <h1 class="text-3xl text-center text-th-bg">Our Online Distributors</h1>
    <footer class="w-full flex justify-center py-6 text-sm text-th-bg">
        &#169; {new Date().getFullYear()} Alt Minima - All Rights Reserved.
    </footer>
</div>
